
  .h1 {
    @font-face {
      font-family: 'MoiraiOne';
      src: url('/Fontes/MoiraiOne-Regular.ttf');
    }
  }

  .h1 {
    font-family: 'MoiraiOne-Regular.ttf';
  }
  
  .Titulo {
    text-align: center;
    background-color: yellow;
    padding: 15px;
    border-radius: 3px;
    margin-bottom:3px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  }
  
  .button {
    color: black;
    background-color: #ff0505;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: #f74444;
  }

  .BarraDePesquisa {
    text-align: center;
    background-color: #ff0505;
    padding: 10px;
    border-radius: 3px;
    margin-bottom: 3px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  }
  
  .Biblioteca {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-image: url("/Imagens/fundo-pokemon2.jpg");
    background-size: auto;
  }
  
  .Pokemon {
    width: 200px;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    border: 2px solid #333;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease-in-out;
    background-image: linear-gradient(to bottom, silver 25%, white 75%);
  }
  
  .Pokemon:hover {
    transform: translateY(-5px);
  }
  
  .Pokemon h2 {
    font-size: 18px;
    margin-bottom: 5px;
  }
  
  .Pokemon p {
    margin-bottom: 5px;
  }
  
  .Pokemon button {
    color: #fff;
    background-color: #ff0505;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .Pokemon button:hover {
    background-color: #f74444;
  }
  
  .Eletrico {
    background-color: #fbd950;
    color: #333;
    padding: 5px;
  }
  
  .Aquatico {
    background-color: #6dcfff;
    color: #333;
    padding: 5px;
  }
  
  .Fogo {
    background-color: #ff7b6b;
    color: #fff;
    padding: 5px;
  }
  
  .Voador {
    background-color: #b6aee8;
    color: #333;
    padding: 5px;
  }
  
  .Lutador {
    background-color: #db8181;
    color: #333;
    padding: 5px;
  }